{{> layout/header}}
<div style="max-width: 100%; display: flex; justify-content: center; margin-left: 47%">
    <div style="margin-top: 15px;">
        <form action="/admin/foods" method="get" class="search-from d-flex" id="search">
            <input class="form-control me-2" type="text" placeholder="Search" name="keyword">
            <button class="btn-m btn-mint form-control" style="width:100px">Search</button>
        </form>
        <a href="/admin/foods/save-form" class="btn btn-success" style="margin-left: 69%; margin-top: 3%">음식 작성</a>
    </div>
</div>

<div class="container-fluid">
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <aside class="col-md-3" style="text-align: center; margin-top: 60px; width: 180px;">
            <div class="card" style="border-radius: 10px;">
                <div style="width: 100%;">
                    <div>
                        <h6 class="card-subtitle text-muted"></h6>
                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a id="userHome" class="nav-link sub-menu a p-1 mb-1" href="/admin/challenges">챌린지
                                    관리</a>
                            </li>
                            <li class="nav-item" style="border-top: 1px solid rgba(0, 0, 0, 0.5);">
                                <a href="admin/foods" style="background-color: green; color: white" class="nav-link sub-menu a p-1">음식
                                    관리</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- 표 및 페이지네이션 -->
        <div style="width: 1200px">
            <div class="container p-5">
                <!-- 표 시작 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">음식이름</th>
                        <th scope="col">칼로리</th>
                        <th scope="col">탄수화물</th>
                        <th scope="col">단백질</th>
                        <th scope="col">지방</th>
                        <th scope="col">양</th>
                        <th scope="col" class="text-center">작업</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#foods}}
                        {{#foodList}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{name}}</td>
                            <td>{{kcal}}</td>
                            <td>{{carbo}}</td>
                            <td>{{protein}}</td>
                            <td>{{fat}}</td>
                            <td>{{gram}}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a href="/admin/foods/{{id}}/update-form" class="btn btn-warning me-1">수정</a>
                                    <form action="/admin/foods/{{id}}/delete" method="post">
                                        <button class="btn btn-danger">삭제</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {{/foodList}}
                    {{/foods}}
                    {{#foodSearchList}}
                        {{#foodList}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{name}}</td>
                            <td>{{kcal}}</td>
                            <td>{{carbo}}</td>
                            <td>{{protein}}</td>
                            <td>{{fat}}</td>
                            <td>{{gram}}</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a href="/admin/foods/{{id}}/update-form" class="btn btn-warning me-1">수정</a>
                                    <form action="/admin/foods/{{id}}/delete" method="post">
                                        <button class="btn btn-danger">삭제</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {{/foodList}}
                    {{/foodSearchList}}
                    <!-- 여러 개의 행 추가 가능 -->
                    </tbody>
                </table>
                <!-- 표 끝 -->
                {{#foods}}
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item {{#foods.first}}disabled{{/foods.first}}"><a class="page-link" href="?page={{foods.prev}}&keyword={{foods.keyword}}">Previous</a></li>
                        <li class="page-item {{#foods.last}}disabled{{/foods.last}}"><a class="page-link" href="?page={{foods.next}}&keyword={{foods.keyword}}">Next</a></li>
                    </ul>
                {{/foods}}
                {{#foodSearchList}}
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item {{#foodSearchList.first}}disabled{{/foodSearchList.first}}"><a class="page-link" href="?page={{foodSearchList.prev}}&keyword={{foodSearchList.keyword}}">Previous</a></li>
                        <li class="page-item {{#foodSearchList.last}}disabled{{/foodSearchList.last}}"><a class="page-link" href="?page={{foodSearchList.next}}&keyword={{foodSearchList.keyword}}">Next</a></li>
                    </ul>
                {{/foodSearchList}}
            </div>
        </div>
    </div>
</div>