{{> layout/header}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="border border-tertiary p-5 rounded">
                <h1 class="text-center mb-4">음식 등록하기</h1>
                <hr>
                <form action="/admin/foods/save" method="post">

                    <div class="mb-3">
                        <label for="name" class="form-label">음식 이름</label>
                        <input class="form-control" type="text" name="name" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="kcal" class="form-label">칼로리</label>
                        <input class="form-control" type="text" name="kcal" id="kcal" required>
                    </div>
                    <div class="mb-3">
                        <label for="carbo" class="form-label">탄수화물</label>
                        <input class="form-control" type="text" name="carbo" id="carbo" required>
                    </div>
                    <div class="mb-3">
                        <label for="protein" class="form-label">단백질</label>
                        <input class="form-control" type="text" name="protein" id="protein" required>
                    </div>
                    <div class="mb-3">
                        <label for="fat" class="form-label">지방</label>
                        <input class="form-control" type="text" name="fat" id="fat" required>
                    </div>
                    <div class="mb-3">
                        <label for="gram" class="form-label">양</label>
                        <input class="form-control" type="text" name="gram" id="gram" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-danger" style="width: 100px">등록하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
