<aside class="col-md-3" style="text-align: center; margin-top: 60px; width: 180px;">
    <div class="card" style="border-radius: 10px;">
        <div style="width: 100%;">
            <div>
                <h6 class="card-subtitle text-muted"></h6>
                <ul class="nav flex-column nav-pills">
                    <li>
                        <a href="/admin/challenges" class="nav-link sub-menu a p-1">챌린지 관리
                        </a>
                    </li>
                    <!-- 줄 추가 -->
                    <li style="border-top: 1px solid #ccc; margin-top: 5px;"></li>
                    <li>
                        <a id="food" href="/admin/foods" class="nav-link sub-menu a p-1">음식 관리</a>
                    </li>
                    <!-- 줄 추가 -->
                    <li style="border-top: 1px solid #ccc; margin-top: 5px;"></li>
                    <li>
                        <a href="/admin/surveys" class="nav-link sub-menu a p-1">설문 관리
                        </a>
                    </li>
                    <!-- 줄 추가 -->
                    <li style="border-top: 1px solid #ccc; margin-top: 5px;"></li>
                    <li>
                        <a href="/admin/surveyscharts" class="nav-link sub-menu a p-1">설문 통계
                        </a>
                    </li>
                    <!-- 줄 추가 -->
                    <li style="border-top: 1px solid #ccc; margin-top: 5px;"></li>
                    <li>
                        <a href="" class="nav-link sub-menu a p-1">문의 열람
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>