{{> layout/header}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="container-fluid">
    <div class="row">

        <div style="display: flex; flex-wrap: wrap; justify-content: center;">

            <!-- 표 및 페이지네이션 -->
            <div class="mt-5" style="width: 1200px; justify-content: center;">
                <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                    <div style="width: 70%">
                        <h3 class="text-center">설문자 참여 현황</h3>
                        <canvas id="bar-chart" width="300" height="100"></canvas>
                    </div>
                </div>
                <div class="container p-5">
                    <!-- 표 시작 -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">설문지 제목</th>
                            <th scope="col">총 문항 수</th>

                            <th scope="col">생성 날짜</th>
                            <th scope="col" class="text-center">작업</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#stats.surveys}}
                            <tr>
                                <th scope="row">{{surveyId}}</th>
                                <td>{{surveyTitle}}</td>
                                <td>{{questionCount}}</td>
                                <td>{{createdAt}}</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <a href="/admin/surveyscharts/{{surveyId}}"
                                           class="btn btn-primary me-1">차트보기</a>
                                    </div>
                                </td>
                            </tr>
                        {{/stats.surveys}}
                        </tbody>
                    </table>
                    <!-- 표 끝 -->

                    <!-- 페이지네이션 -->
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: [{{#stats.charts}}"{{surveyTitle}}"{{^@last}},{{/@last}}{{/stats.charts}}],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#c45850", "#c45850", "#c45850"],
                    data: [{{#stats.charts}}{{count}}{{^@last}},{{/@last}}{{/stats.charts}}]
                }
            ]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            }
        }
    });
</script>