{{> layout/header}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="container d-flex mt-5 justify-content-center">
    <div class="mx-2 pb-4 w-90">
        <div class="border border-tertiary p-5">
            <div class="w-50 mx-auto">
                <div class="justify-content-center">
                    <h1 class="text-center">{{survey.title}}</h1>
                    <hr>
                    <div class="row justify-content-center">
                        {{#survey.questionElements}}
                            <div class="col-md-12 mb-4">
                                <div class="border border-tertiary p-4">
                                    <h3 class="text-center">{{questionId}}. {{question}}</h3>
                                    <canvas id="chart-{{questionId}}" width="400" height="300"></canvas>
                                </div>
                            </div>
                        {{/survey.questionElements}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var chartData = [
        {{#survey.questionElements}}
            {
                labels: [{{#choices}}"{{choiceItem}}"{{^@last}},{{/@last}}{{/choices}}],
                data: [{{#choices}}{{choiceCount}}{{^@last}},{{/@last}}{{/choices}}]
            }
            {{^@last}},{{/@last}}
        {{/survey.questionElements}}
    ];
    chartData.forEach(function (data, index) {
        var canvas = document.getElementById("chart-" + (index + 1));
        new Chart(canvas, {
            type: 'doughnut',
            data: {
                labels: data.labels,
                datasets: [{
                    label: "Population (millions)",
                    backgroundColor: ["#CEB1AB", "#F0B859", "#6388E2", "#ED75C0", "#46523F", "#FBEC61", "#4D2C54", "#e8c3b9"],
                    data: data.data
                }]
            }
        });
    });
</script>