{{> layout/header}}
<div class="container d-flex mt-5">
    <div class="justify-content-center mx-2 pb-4 w-100">
        <div class="border border-tertiary p-5">

                <h1 class="d-inline-flex">{{survey.surveyName}}</h1>
                <hr>
                <div class="px-5 mt-5">

                            {{#survey.questionElements}}
                            <label for="question"><b>{{question}}</b></label>
                            <hr>
                            <div class="mb-5">
                                <label for="choice" class="mb-3"><b>선택문항</b></label>
                                {{#choices}}
                                <div type="text">
                                    {{.}}
                                </div>
                                {{/choices}}
                            </div>
                            {{/survey.questionElements}}
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>

