{{> layout/header}}
<div style="max-width: 100%; display: flex; justify-content: center; margin-left: 47%">
    <div style="margin-top: 15px;">
        <form action="/admin/challenges" method="get" class="search-from d-flex" id="search">
            <input class="form-control me-2" type="text" placeholder="Search" name="keyword">
            <button class="btn-m btn-mint form-control" style="width:100px">Search</button>
        </form>
        <a href="/admin/challenges/save-form" class="btn btn-success" style="margin-left: 64%; margin-top: 3%">챌린지 작성</a>
    </div>
</div>

<div class="container-fluid">
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <aside class="col-md-3" style="text-align: center; margin-top: 60px; width: 180px;">
            <div class="card" style="border-radius: 10px;">
                <div style="width: 100%;">
                    <div>
                        <h6 class="card-subtitle text-muted"></h6>
                        <ul class="nav flex-column nav-pills">
                            <li>
                                <a href="/admin/challenges" style="background-color: green; color: white" class="nav-link sub-menu a p-1">챌린지 관리
                                </a>
                            </li>
                            <li class="nav-item" style="border-top: 1px solid rgba(0, 0, 0, 0.5);">
                                <a id="food" href="/admin/foods" class="nav-link sub-menu a p-1 mb-1">음식 관리</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

        <!-- 표 및 페이지네이션 -->
        <div style="width: 1200px">
            <div class="container p-5">
                <!-- 표 시작 -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">챌린지 제목</th>
                        <th scope="col">챌린지 지역</th>
                        <th scope="col">걸어야할 걸음 수</th>
                        <th scope="col">총 거리</th>
                        <th scope="col">보상 코인 수</th>
                        <th scope="col">챌린지 기간</th>
                        <th scope="col" class="text-center">작업</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#challenges}}
                        {{#challengeList}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{challengeName}}</td>
                                <td>{{subTitle}}</td>
                                <td>{{walking}}</td>
                                <td>{{distance}}</td>
                                <td>{{coin}}</td>
                                <td>{{period}}일</td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <a href="/admin/challenges/{{id}}/detail" class="btn btn-primary me-1" style="width: 98px">상세보기</a>
                                        <a href="/admin/challenges/{{id}}/update-form" class="btn btn-success me-1" style="width: 60px;">수정</a>
                                        <form action="/admin/challenges/{{id}}/delete" method="post">
                                            <button class="btn btn-danger" style="width: 60px;">삭제</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/challengeList}}
                    {{/challenges}}

                    {{#challengeSearchList}}
                        {{#challengeList}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{challengeName}}</td>
                            <td>{{subTitle}}</td>
                            <td>{{walking}}</td>
                            <td>{{distance}}</td>
                            <td>{{coin}}</td>
                            <td>{{period}}일</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a href="/admin/challenges/{{id}}/detail" class="btn btn-primary me-1" style="width: 98px;">상세보기</a>
                                    <a href="/admin/challenges/{{id}}/update-form" class="btn btn-success me-1" style="width: 60px">수정</a>
                                    <form action="/admin/challenges/{{id}}/delete" method="post">
                                        <button class="btn btn-danger" style="width: 60px">삭제</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {{/challengeList}}
                    {{/challengeSearchList}}
                    </tbody>
                </table>
                <!-- 표 끝 -->
                {{#challenges}}
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item {{#challenges.first}}disabled{{/challenges.first}}"><a class="page-link" href="?page={{challenges.prev}}">Previous</a></li>
                        <li class="page-item {{#challenges.last}}disabled{{/challenges.last}}"><a class="page-link" href="?page={{challenges.next}}">Next</a></li>
                    </ul>
                {{/challenges}}
                {{#challengeSearchList}}
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item {{#challengeSearchList.first}}disabled{{/challengeSearchList.first}}"><a class="page-link" href="?page={{challengeSearchList.prev}}&keyword={{challengeSearchList.keyword}}">Previous</a></li>
                    <li class="page-item {{#challengeSearchList.last}}disabled{{/challengeSearchList.last}}"><a class="page-link" href="?page={{challengeSearchList.next}}&keyword={{challengeSearchList.keyword}}">Next</a></li>
                </ul>
                {{/challengeSearchList}}
            </div>
        </div>
    </div>

</div>
