{{> layout/header}}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="border border-tertiary p-5">
                <h1 class="text-center mb-4">{{challenge.challengeName}}</h1>
                <hr>
                <div class="row justify-content-center" style="align-items: center">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center mb-3">
                            <div class="position-relative">
                                <div class="box-container">
                                    <div class="d-flex justify-content-center align-items-center"
                                         style="width: 300px; height: 300px; border: 1px solid #E6E6E6; color: #E6E6E6;"
                                         id="backgroundImg2">
                                        <img style="width: 80%; height: 80%" src="/upload/{{challenge.backgroundImg}}" alt="">
                                    </div>
                                </div>
                                <div class="position-absolute top-3 start-50 translate-middle-x text-dark">
                                    <span>배경 이미지</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center mb-3">
                            <div class="position-relative">
                                <div class="box-container" style="clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);">
                                    <div class="d-flex justify-content-center align-items-center"
                                         style="width: 250px; height: 220px; border: 1px solid #E6E6E6; color: #E6E6E6; overflow: hidden;"
                                         id="badgeImg2">
                                        <img style="width: 100%; height: 100%;" src="/upload/{{challenge.badgeImg}}" alt="">
                                    </div>
                                </div>
                                <div class="position-absolute top-8 start-50 translate-middle-x text-dark">
                                    <span>뱃지 이미지</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 border rounded">
                    <div class="box-container p-3 border-bottom border-end">
                        <label for="subTitle" class="form-label"><b>부 제목</b></label>
                        <div>{{challenge.subTitle}}</div>
                    </div>
                </div>
                <div class="mt-4 border rounded">
                    <div class="box-container p-3 border-bottom">
                        <label for="distance" class="form-label"><b>거리</b></label>
                        <div>{{challenge.distance}}</div>
                    </div>
                </div>
                <div class="mt-4 border rounded">
                    <div class="box-container p-3 border-bottom border-end">
                        <label for="walking" class="form-label"><b>걸어야할 걸음수</b></label>
                        <div>{{challenge.walking}}</div>
                    </div>
                </div>
                <div class="mt-4 border rounded">
                    <div class="box-container p-3 border-bottom">
                        <label for="coin" class="form-label"><b>보상 코인</b></label>
                        <div>{{challenge.coin}}</div>
                    </div>
                </div>
                <div class="mt-4 border rounded">
                    <div class="box-container p-3 border-bottom border-end">
                        <label for="location" class="form-label"><b>챌린지 내용</b></label>
                        <div>{{challenge.content}}</div>
                    </div>
                </div>
                <div class="mt-4 border rounded">
                    <div class="box-container p-3 border-bottom">
                        <label for="period" class="form-label"><b>챌린지 기간</b></label>
                        <div>{{challenge.period}}일</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
